* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #1f2937;
  --titleColor: #f9f9f9;
  --textColor: #e5e7eb;
  --buttonColor: #3882f6;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

.top-section,
.first-section {
  background-color: var(--darkBlue);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header {
  color: var(--titleColor);
  font-size: 24px;
}

.right-side {
  display: flex;
  color: var(--textColor);
}

.nav-links {
  display: flex;
  gap: 20px;
}

/**

Section 1

**/

.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 20px;
}

.one-container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  max-width: 1150px;
}

.hero-title {
  color: var(--titleColor);
  font-size: 48px;
  font-weight: bolder;
}

.hero-text {
  font-size: 18px;
  color: var(--textColor);
}

.one-left {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.one-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 600px;
  height: 200px;
}

.one-button {
  color: var(--titleColor);
  background-color: var(--buttonColor);
  padding: 10px 15px;
  margin-top: 20px;
  width: 150px;
  border-radius: 10px;
  border: none;
}

/**

Section 2

**/

.second-section {
  text-align: center;
}

.section-two {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.info-txt {
  font-size: 36px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.box-one {
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  padding: 90px;
  border: 5px solid var(--buttonColor);
  border-radius: 20px;
  color: white;
}

.box-txt {
  margin-top: 10px;
  font-weight: 200;
}

/**

Section 3

**/

.third-section {
  background-color: #e5e7eb;
  text-align: center;
  padding: 100px;
}

.section-three {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 20px;
}

.quote {
  text-align: left;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
}

.quoter {
  text-align: right;
  padding-right: 50px;
}

/**

Section 4

**/

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 20px;
}

.section-four {
  width: 1100px;
  height: 150px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--titleColor);
}

.blue-card-txt {
  font-size: 24px;
  font-weight: 400;
}

.blue-card-small-txt {
  font-size: 16px;
  font-weight: 100;
  color: var(--textColor);
}

.blue-sign {
  border-style: none;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #3882f6;
  padding: 5px 25px;
  font-size: 14px;
  color: white;
}

/**

Footer

**/

footer {
  background-color: var(--darkBlue);
  color: var(--titleColor);
  padding: 30px;
  text-align: center;
  font-size: 14px;
}
