* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

a,
ul {
    text-decoration: none;
    list-style: none;
    color: #f9faf8;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 15px;
}

.nav-logo {
    font-size: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}